[Desktop Entry]
Type=Application
Name=Donut Music
GenericName=Music Player
Comment=YouTube Music client, charts, local files, lyrics & Last.fm scrobbling
Exec=/usr/bin/@PKG_NAME@
Icon=@PKG_NAME@
Terminal=false
Categories=AudioVideo;Audio;Music;Player;
StartupWMClass=Donut Music